body{
  margin:0;
  padding:0;
  font-family:'Times', sans-serif;
  font-size: 0.9em;
  overflow: auto;
  /* padding-top: 3.9rem; */
}

.navbar-brand{
  font-size: 1.1em;
}

.navbar a{
  color: white !important;
}
.navbar i{
    margin-right: 0.25rem !important;
}

.dropdown-item:hover{
  background-color: black;
}

 .locate{
   border: 0px;
 }
.container-fluid{
  padding: 0;
  overflow: hidden;
  margin:0;
}

#map{
  height:90vh;
  width:100%;
}

#map_dash{
  height:69vh;
  width:100%;
}

#chart .card{
  height:36vh;
  padding: 0;

}


#bar .highcharts-legend-item{
  display: none;
}

.health{
  padding-top: 1rem;
  background-image: url('../images/dan-musat.jpg');
  height: 100vh;
  width: 100%;
  color: white;

}
.health button{
  background-color: rgb(255, 255, 255,0);

}
button{
  color: white;
}

.h1{
  font-size: 60px;
  padding: 5rem 0rem;
  font-family: 'Lucida Calligraphy', sans-serif;
}

.analysis{
  margin:0px;
  position:absolute;
  z-index: 1;
  top:10vh;
  right:1%;
  display: none;
  transition: 0.5s;
  height:85vh;
  overflow-y:auto;
  overflow-x:hidden;
  padding: 1%;
  width:25%;
}

.btn{
  border-radius: 0px;
}

/* LEAFLET CONTAINER STYLES */
.leaflet-popup-content-wrapper {
	padding: 0px;
	text-align: left;
	border-radius: 0px;
  width:250px;
  overflow: hidden;
}

.popup-title{
  margin:-10%;
  color:white;
  border-radius: 12px 12px 0px 0px;
  padding:12px 12px 0px 0px;
}

.analysis-tab{
  height:auto;
  background-color:	#D3D3D390;
  /* opacity: 0.5; */
  width:auto;
  overflow: visible;
  padding: 3px;
  /* font-size: 1.2em; */
}

.bt-tog{
  width:32px;
  background-color: white;
  border-radius: 2px;
  margin:5px;
  color:black;
}

.content{
  width:100%;
  padding-left:15px;
  display: none;
}

.content p , .form-control{
    font-size: 1.2em;
}

.card{
  padding: 5px;
  border-radius: 0px;
  background-color: #FFFFFF70;
}

/* .leaflet-routing-container{
  position: relative;
  top:20px;
  right:0;
  /* display: none; */
/* }  */
.leaflet-routing-container{
  display: none;
}

.col-6 {width: 50%;}
/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #analysis{
      width: 250px;
      padding: 15px;
    }
}
